        <div class="stickyfooter">
            <div class="container-fluid">
                <div id="copyright" class="row">
                    <div class="col-md-6 col-sm-12 text-left">
                        <p>HelpMe <i class="fa fa-heart" style="color:darkmagenta"></i> 
                           <a href="https://srcc.stanford.edu" target="_blank">Stanford Research Computing Center</a> at Stanford University</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul class="list-inline text-right">
                            <li><a href="{{ site.baseurl }}#">Terms of Usage</a></li>
                            <li><a href="{{ site.baseurl }}#">Copyrights</a></li>
                            <li><a href="{{ site.baseurl }}#">License</a></li>
                            <li><a href="{{ site.baseurl }}#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

