    <script src="{{ site.baseurl }}/{{ "assets/js/jquery.js" }}"></script>
    <script src="{{ site.baseurl }}/{{ "assets/js/bootstrap.js" }}"></script>
    <script src="{{ site.baseurl }}/{{ "assets/js/ripples.min.js" }}"></script>
    <script src="{{ site.baseurl }}/{{ "assets/js/material.min.js" }}"></script>
    <script src="{{ site.baseurl }}/{{ "assets/js/custom.js" }}"></script>

    <script src="{{ site.baseurl }}/{{ "assets/js/venobox.min.js" }}"></script> 
    <script src="{{ site.baseurl }}/{{ "assets/js/jquery.fitvids.js" }}"></script>

    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shCore.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushBash.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushCpp.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushCSharp.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushCss.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushDelphi.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushDiff.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushGroovy.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushJava.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushJScript.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushPhp.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushPlain.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushPython.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushRuby.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushScala.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushSql.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushVb.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushXml.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shCore.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/shBrushJScript.js" }}"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/{{ "assets/js/helpme.js" }}"></script>
