        <aside id="sideBar">
            <ul class="main-nav">
                <!-- Your Logo Or Site Name -->
                <li class="nav-brand" style="background-color:#3f9719">

                    <div class="row">
                        <div class="col-md-12">
                             <a href="{{ site.baseurl }}/" style="text-align: center;">
                            <img src="{{ site.baseurl }}/assets/img/logo/helpme-white.png" style="height:100px;margin:auto; padding-bottom:20px"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <a href="{{ site.baseurl }}" style="text-align:center">
                              HelpMe <br><small>The Human Pages</small></a>
                        </div>
                    </div>
                </li>
                <li><a href="{{ site.baseurl }}/#section_01" class="btn btn-raised btn-primary"><i class="material-icons">filter_1</i> Search</a></li>
                <li><a href="{{ site.baseurl }}/#section_02" class="btn btn-raised btn-primary"><i class="material-icons">filter_2</i> About<div class="ripple-container"></div></a></li>
                <li><a href="{{ site.baseurl }}/#section_09" class="btn btn-raised btn-primary"><i class="material-icons">filter_3</i> Changelog</a></li>
            </ul>
        </aside>

